<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="math/styles/prism.css">
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="math/components/mathRoot.js" type="text/babel"></script>
  </head>
  <body>
    <%- include('../partials/topBar.ejs') %>

    <div id="mathPageContainer"></div>
  </body>
  <footer>
    <script src="math/scripts/prism.js"></script>
  </footer>
</html>
