

body {

    font-family: "Inconsolata", monospace;

    margin: 0px;

    background-color: #fff9ef;

}

textarea, input {

    font-family: "Inconsolata", monospace !important;
    font-size: 15px !important;

}

img.geek-logo {

    height: 50px;
    width: auto;

    margin-left: 10px;
    margin-right: 10px;

    align-self: center;

}

img.arrow {

    width: 50px;
    height: 50px;

    transform: rotate(180deg);

    margin-right: 15px;

    transition-property: transform;
    transition-duration: 1s;

    align-items: flex-end;

    align-self: center;

}

img.arrow.active {

    transform: rotate(0deg);

}

.orange {

    background-color: #FF5500;

}

.titles {

    width: 100%;

    background-color: #FF5500;

    display: flex;

    align-items: center;

    height: auto;

    width: 100%;

    align-self: stretch;

}

.topBar {

    background-color: #FF5500;

    margin: 0px;

    padding-left: 20px;
    padding-right: 20px;

    border-bottom: 1px solid #ccc;

    width: 100%;

    align-self: stretch;

}

.top-background {


    background-color: #FF5500;
    display: flex;

    flex-wrap: wrap;

    height: auto;


}

.new-input-bar {

    width: 100%;

    justify-content: flex-start;
    align-items: flex-end;

    display: flex;

    padding: 10px;

}

.input-form {

    width: 100%;

    display: flex;

    align-items: center;

}

.date-select {

    display: flex;

    justify-content: flex-end;

    align-items: flex-end;

    align-self: center;

}

.id-entry-look {

    width: 20%;

}

.notes-entry-look {

    width: 70%

}



.logo {

    height: auto;
    width: 100%;

    float: left;

    margin: 0px;
    padding: 10px;

    display: flex;

    align-content: flex-end;

    background-color: inherit;

}

.title {

    font-family: "Teko", sans-serif;

    font-size: 40px;

    letter-spacing: 2px;

    background-color: inherit;

    align-content: flex-end;

    width: 100%;

    margin: 0px;

    display: block;

    align-self: center;

}

.input {

    font-size: 15px;

    margin: 5px;
    padding: 5px;

    border-radius: 5px;

    border: 0px;

    display: inline;

    background-color: white;

    color: #555;

}

.input .notes-entry-look {

    font: "Inconsolata", monospace !important;

    display: inline;

    margin: auto;

}

button.input {

    background-color: black;

    color: #FF5500;

}

button.input.update-button {

    display: inline;

    color: white;

}

.input-bar {

    width: 20px;
    height: 3px;

    margin: 5px;

    background-color: #555;

    border: 1px solid #FF5500;

}

.main-body {

    width: 80%;
    margin: 0 auto;

    padding: 5px;

}

.content-table {

    width: 100%

}

.content-row th {

    width: 20%;

    padding: 5px;
    margin: 5px;

    letter-spacing: 1px;

    border-top: black 5px;

}

.content-table td {

    padding: 5px;
    margin: 5px;

}

.content-table td.mid {

    width: 65%;

}

.content-table td.end {

    min-width: 130px;
    max-width: 15%

}

table {

    border-collapse: collapse;

}

th, td {

    border-bottom: 1px solid #ccc;
    border-left: 0px;
    border-right: 0px;

    margin-left: 0px;
    margin-right:0px;

}

tr:hover th, tr:hover td {

    background-color: #eee;

    transition-property: background-color;
    transition-duration: 1s;

}

tr input. tr button {

    height: auto;

    transition: height 1s;

}

tr.active input, tr.active button, tr.active td div {

    height: 0px;
    display: none;

    transition: height 1s;
}

th.content-head {

    font-size: 20px;
    font-weight: bold;

}

.content-row.active th.content-head {

    width: 100%;
    /*transition: width 1s;*/

}

.note {

    display: flex;
    flex-wrap: wrap;
    white-space: normal;

    overflow: auto;

}

.delete {

    display: inline;

}

.notes-update-look {

    width: 95%;
    height: auto;

    overflow-wrap: break-word;
    word-break: break-all;

    white-space: normal;

}

tr.active .notes-update-look {

    display: none;

}

textarea {

    resize: none;

    border: 1px solid #ccc !important;

}

.footer {

    position: fixed;

    width: 100%;

    display: flex;

    align-items: flex-end;

    bottom: 0;

    margin: 0px;
    padding: 0px;
    border: 0px;

    background-color: white;

}

.footer div {

    display: flex;

    width: 100%;

    justify-content: flex-end;


}

.footer div p {

    color: #ccc;

    display: flex;

    justify-content: flex-end;
    align-items: flex-end;

    width: 100%;

    margin: 10px;

}

.footer .footer-logo {

    height: 30px;
    width: auto;
    margin: 5px;
    border: 0px;


}
